doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="description" content="Aquí una breve descripción del sitio web.")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title KIUX | Inicio
        link(rel="stylesheet", href="./css/styles.css")
        link(rel="icon", href="./img/favicon.ico")
    body
        header.main-header
            //- .toggle--active
            .toggle
                button#btnToggle(type="button").hamburger.hamburger--slider
                    span.hamburger-box
                        span.hamburger-inner
            nav#menuContent.menu-content
                ul.menu
                    li.menu__item: a(href="").menu__link.icon-home Inicio
                    li.menu__item: a(href="").menu__link.icon-users-2 Nosotros
                    li.menu__item: a(href="").menu__link.icon-photo Servicios
                    li.menu__item: a(href="").menu__link.icon-news Blog
                    li.menu__item: a(href="").menu__link.icon-phone Contáctenos
            section.content
                section.logo
                    a(href="").logo__link: img(src="./img/logo2.svg", alt="imagen").logo__image
                section.text-content
                    p.text-content__paragraph Excelente metodología y un completo conjunto de herramientas informáticas con las que su empresa podrá ser más eficiente, productiva y rentable.
                // cta -> Call to action - Llamado a la acción.
                section.cta
                    a(href="").cta__link ver más
            section.arrow-down
                //- Fleca hacia abajo.
                .arrow-down__figure
        main
            section
                h1 other content

        script(src="./js/script-dist.js")